# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Virtual environment
venv/
env/
.venv/
.env/
ENV/
env.bak/
venv.bak/

# IPython
profile_default/
ipython_config.py
ipython_kernel_config.py

# Jupyter Notebook
.ipynb_checkpoints

# Emacs
.*.pyc

# Pyright (static type checker)
.pyright/

# IDE files
# PyCharm
.idea/
*.iml
.idea.user

# VS Code
.vscode/

# Sublime Text
.sublime-project
.sublime-workspace

# pyenv
.python-version

# Temporary files
*.swp
*~
.DS_Store

